@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
}


.mission-statement{
  @apply ml-8 text-4xl font-semibold pt-32;
  font-size: 70px;
  line-height: 60px;
}

@media (max-width: 1000px) {
  .mission-statement {
      @apply text-2xl font-semibold;
      font-size: 50px;
      line-height: 40px;
  }
}

.disconnect{
  font-size: 8px;
}


.top{
  /* @apply grid grid-cols-2 gap-2; */
  @apply grid grid-cols-1 md:grid-cols-2 gap-2 ;
}